ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}
a{
	color: #880033;
	text-decoration: none;
}
body {
	background-color:white;
	background-image: url(https://150.trinity.edu/sites/onefifty.trinity.edu/files/captionedimages/northrup-web-1.jpg);
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 14px;
	color: #333334;
}
h1 {
	color: gray;
	font-size: 24px;
}